<!DOCTYPE html>
<html lang="en">
<head>
    <h1>HEADING</h1>
</head>
<body class="container">

<header>
    <h1>SUBHEADING</h1>
</header>

<main>
  <div class="jumbotron">
    <h1>This is great</h1>
    <p>Welcome to templating using EJS</p>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>

